@model TiendaAlquiler.Models.Pais
@{
    ViewData["Title"] = "Create";
}
<h1>Crear un pais</h1>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4 detail-card">
            
            @*FORMULARIO DE CREACION*@
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                @*CAMPO TIPO*@
                <div class="form-group mb-3">
                    <label asp-for="Nombre" class="control-label font-weight-bold text-center w-100"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                @*BOTON CREAR*@
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-highlight w-100">Crear</button>
                </div>
            </form>

            @*BOTON VOLVER LISTADO*@
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary w-100">Volver al listado de paises</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
