@model TiendaAlquiler.Models.Coche
@{
    ViewData["Title"] = "Create";
}
<h1>Crear un coche nuevo</h1>
<div class="container mt-4">
    <div class=" row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
               
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                @* MARCA *@
                <div class="form-group">
                    <label asp-for="Marca" class="control-label"></label>
                    <input asp-for="Marca" class="form-control" />
                    <span asp-validation-for="Marca" class="text-danger"></span>
                </div>
                
                @* MODELO *@
                <div class="form-group mb-3">
                    <label asp-for="Modelo" class="control-label"></label>
                    <input asp-for="Modelo" class="form-control" />
                    <span asp-validation-for="Modelo" class="text-danger"></span>
                </div>
                @* AÑO FABRICACION *@
                <div class="form-group mb-3">
                    <label asp-for="AnioFabricacion" class="control-label"></label>
                    <input asp-for="AnioFabricacion" class="form-control" type="number" min="1900" max="2100" />
                    <span asp-validation-for="AnioFabricacion" class="text-danger"></span>
                </div>
                
                @* PRECIO POR DIA *@
                <div class="form-group mb-3">
                    <label asp-for="PrecioAlquiler" class="control-label"></label>
                    <input asp-for="PrecioAlquiler" class="form-control" type="number" step="0.01" />
                    <span asp-validation-for="PrecioAlquiler" class="text-danger"></span>
                </div>
                
                @* COLOR *@
                <div class="form-group mb-3">
                    <label asp-for="ColorId" class="control-label"></label>
                    <select asp-for="ColorId" class="form-control" asp-items="ViewBag.ColorId"></select>
                </div>
                
                @* CARROCERIA *@
                <div class="form-group mb-3">
                    <label asp-for="CarroceriaId" class="control-label"></label>
                    <select asp-for="CarroceriaId" class="form-control" asp-items="ViewBag.CarroceriaId"></select>
                </div>
                
                @* DECADA DE FABRICACION *@
                <div class="form-group mb-3">
                    <label asp-for="DecadaId" class="control-label"></label>
                    <select asp-for="DecadaId" class="form-control" asp-items="ViewBag.DecadaId"></select>
                </div>
                
                @* PAIS *@
                <div class="form-group mb-3">
                    <label asp-for="PaisId" class="control-label"></label>
                    <select asp-for="PaisId" class="form-control" asp-items="ViewBag.PaisId"></select>
                </div>
                
                @* FOTOS DEL COCHE *@
                <div class="form-group">
                    <label for="archivos">Seleccionar fotos del coche</label>
                    <input type="file" name="archivos" multiple />
                </div>
                
                @* BOTON CREAR COCHE *@
                <div class="form-group mb-3">
                    <input type="submit" value="Crear" class="btn btn-highlight w-100 " />
                </div>
                
                @* BOTON VOLVER AL LISTADO *@
                <div class="form-group mb-3">
                    <a asp-action="Index" class="btn btn-secondary w-100">Volver al listado de coches</a>
                </div>
            
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
