@model TiendaAlquiler.Models.Decada

@{
    ViewData["Title"] = "Delete";
}
@{
    var errorMessage = TempData["ErrorMessage"] as string;
}

<h1 class="text-center mb-4">¿Está seguro de eliminar esta Decada?</h1>

<div class="container bg-white p-4 shadow rounded">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h4 class="text-center mb-3">Decada</h4>
            <hr />

            @* TABLA CENTRADA*@
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th class="text-end">Año de Inicio:</th>
                        <td class="text-start">@Html.DisplayFor(model => model.AnioInicio)</td>
                    </tr>
                </tbody>
            </table>

            @*BOTON DE ELIMINAR*@
            <div class="d-flex justify-content-center gap-3 mt-4">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="DecadaId" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
                <a asp-action="Index" class="btn btn-secondary">Volver</a>
            </div>
        </div>
    </div>
</div>

@*MODAL DE ADVERTENCIA*@
<div id="modalAdvertencia">
    <div class="modalDentro">
        <h5> Advertencia</h5>
        <p id="modalMensaje"> @TempData["ErrorMessage"]</p>
        <button onclick="closeModal()">Cerrar</button>
    </div>
</div>
<script>
    //Muestro el modal si hay mensaje de error
    var mensaje ='@TempData["ErrorMessage"]';
    if(mensaje){
        document.getElementById('modalAdvertencia').style.display='block';//MOSTRADO
    }
    //Funcion que me cierra el modal si se abrio (o sea si hay mensaje de error)
    function closeModal() {
        document.getElementById('modalAdvertencia').style.display ='none';//OCULTO
    }
</script>