@model TiendaAlquiler.Models.Decada

@{
    ViewData["Title"] = "Delete";
}
<h1>Esta seguro de borrar esta decada?</h1>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4 detail-card">
            <h4 class="text-center">Decada</h4>
            <hr />

            <!-- Tabla de detalles con columnas del mismo ancho -->
            <table class="table table-borderless text-center">
                <tr>
                    <th>Decada:</th>
                    <td>@Html.DisplayFor(model => model.AnioInicio)</td>
                </tr>
            </table>

            <!-- Formulario de eliminación y acciones -->
            <div class="d-flex justify-content-between mt-3">
                <form asp-action="Delete" class="w-100 d-flex justify-content-between">
                    <input type="hidden" asp-for="DecadaId" />
                    <button type="submit" class="btn btn-danger w-50 me-2">Eliminar</button>
                    <a asp-action="Index" class="btn btn-secondary w-50">Volver</a>
                </form>
            </div>
        </div>
    </div>
</div>
