@model TiendaAlquiler.Models.Decada

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar una decada</h1>

<h4>Decada</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DecadaId" />
            <div class="form-group">
                <label asp-for="AnioInicio" class="control-label"></label>
                <input asp-for="AnioInicio" class="form-control" />
                <span asp-validation-for="AnioInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
