/* Configuración básica */
html, body {
    font-size: 14px;
    margin: 0;
    padding: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: seagreen;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

html {
    position: relative;
    min-height: 100%;
}

/* Cuerpo de la página */
body {
    display: flex;
    flex-direction: column;
}

/* Contenedor principal */
.container {
    flex-grow: 1;
    padding-bottom: 100px; /* Asegura espacio para el footer */
}

/* Contenido principal */
main {
    flex: 1;
    margin-top: 60px; /* Ajuste para compensar la navbar fija */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Encabezados */
h1, h2 {
    text-align: center;
    margin-top: 50px;
}

/* Estilos de la navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Botones */
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-custom {
    color: white;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

    .btn-custom:hover {
        background-color: #0056b3;
    }

/* Columnas de acciones */
.actions-column {
    text-align: right;
    color: #555;
    padding: 8px;
}

    .actions-column a {
        color: #007bff;
        margin-left: 10px;
        text-decoration: none;
    }

        .actions-column a:hover {
            text-decoration: underline;
        }

/* Estilos generales de las tablas */
.table {
    width: 80%;
    margin: auto;
    font-size: 1em;
    margin-top: 10px;
    background-color: white;
    border: 3px solid black;
    border-radius: 20px;
}

    .table tr th {
        text-align: center;
    }

    .table tr td {
        text-align: start;
    }

    .table tr:hover {
        background-color: aqua;
    }

/* Tabla de coches */
.table-cars {
    width: 1300px;
    text-align: center;
}

    .table-cars th, .table-cars td {
        text-align: center;
        background-color: #f8f9fa;
    }

        .table-cars td:last-child {
            text-align: center;
            white-space: nowrap;
        }

    .table-cars tbody tr:hover {
        background-color: #e9ecef;
    }

/* Tabla de detalles de coche */
.table-details, .table-details th, .table-details td {
    text-align: center;
}

/* Galería de fotos */
.fotos {
    justify-content: flex-start;
    display: flex;
    align-content: center;
    border: solid red 3px;
}

.foto {
    padding: 3px;
    margin: 3px;
    border: solid blue 3px;
}

/* Carousel */
.carousel-inner {
    border: 3px solid red;
    border-radius: 10px;
    background-color: black;
}

.carousel-item img {
    border: 3px solid black;
    object-fit: contain;
    height: 300px;
    width: 100%;
}

/* Tarjeta de detalles */
.detail-card {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

    .detail-card h4 {
        font-weight: bold;
    }

    .detail-card .table th, .detail-card .table td {
        width: 50%;
    }

/* Footer al final de la página */
footer {
    margin-top: auto;
    padding: 20px;
    background-color: #f8f9fa;
    text-align: center;
    position: relative; /* Quitar cualquier posición fija */
    width: 100%;
    z-index: 1; /* En caso de solapamiento */
}
/* Footer */


  
