@model TiendaAlquiler.Models.Color

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center my-4">Editar Color</h1>

<div class="container">
    <div class="row justify-content-center transparent-row ">
        <div class="col-md-6" >
            <div class="card shadow-sm" style="border: solid red;">
                <div class="card-body">
                    <h4 class="card-title text-center">Color</h4>
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                        <input type="hidden" asp-for="ColorId" />

                        <div class="mb-3">
                            <label asp-for="Nombre" class="form-label"></label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

                        <div class="d-flex justify-content-center gap-3">
                            <input type="submit" value="Guardar Cambios" class="btn btn-highlight" />
                            <a asp-action="Index" class="btn btn-secondary">Volver al Listado</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
