@model TiendaAlquiler.Models.Carroceria
@{
    ViewData["Title"] = "Create";
}
<h1>Crear carroceria nueva</h1>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4 detail-card">
            <!-- Formulario de creación -->
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <!-- Campo Tipo -->
                <div class="form-group mb-3">
                    <label asp-for="Tipo" class="control-label font-weight-bold text-center w-100"></label>
                    <input asp-for="Tipo" class="form-control" />
                    <span asp-validation-for="Tipo" class="text-danger"></span>
                </div>

                <!-- Botón de creación -->
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-primary w-100">Crear</button>
                </div>
            </form>

            <!-- Botón para volver al listado -->
            <div class="form-group">
                <a asp-action="Index" class="btn btn-secondary w-100">Volver al listado de carrocerías</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
