@model TiendaAlquiler.Models.Carroceria

@{
    ViewData["Title"] = "Delete";
}
@{
    var errorMessage = TempData["ErrorMessage"] as string;
}

<h1 class="text-center mb-4">¿Está seguro de eliminar esta carrocería?</h1>

<div class="container bg-white p-4 shadow rounded">
    
    <div class="row justify-content-center">
    
        <div class="col-md-6">
        
            <h4 class="text-center mb-3">Carrocería</h4>
            <hr />
            
            @* TABLA CENTRADA *@
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th class="text-end">Tipo:</th>
                        <td class="text-start">@Html.DisplayFor(model => model.Tipo)</td>
                    </tr>
                </tbody>
            </table>
            
            @* BOTON DE ELIMINAR *@
            <div class="d-flex justify-content-center gap-3 mt-4">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="CarroceriaId" />
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
                <a asp-action="Index" class="btn btn-secondary">Volver</a>
            </div>

        </div>
    </div>
</div>

@* MODAL DE ADVERTENCIA f*@
<div id="modalAdvertencia">
    <div class="modalDentro">
        <h5>Advertencia</h5>
        <p id="modalMensaje">@TempData["ErrorMessage"]</p>
        <button onclick="closeModal()">Cerrar</button>
    </div>
</div>

<script>
    // Mostrar el modal solo si hay un mensaje de error
    var mensaje = '@TempData["ErrorMessage"]';
    if (mensaje) {
        document.getElementById('modalAdvertencia').style.display = 'block'; // Mostrar modal
    }
    //Funcion que se llamara al hacer click sobre el boton de cerrar al modal
    function closeModal() {
        document.getElementById('modalAdvertencia').style.display = 'none'; // Ocultar modal
    }
</script>
